# Project-specific files
*.err
*.log
*.bak
./src/build/
.vscode

# Ignore all files without extensions in src/
src/[^/]*[^.][^/]*$

# Allow the src/ directory itself
!src/

# Allow all directories inside src/ (this is crucial)
!src/**/

# Ignore all other files inside src/, but not directories
src/*/*

# Ensure .o and .d files remain ignored even with the rule above
src/*.o
src/*.d

## Allow specific files in /src
!/src/Makefile

## General Rules
.DS_Store
Thumbs.db
*.log
*.bak
*.zip

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
